.skill_icon img{
  position: relative;
  z-index: -1;

}


.skill_icon_inactive img{
  filter: grayscale(100%);
}
.skill_icon_inactive{
  position: relative
}

  /* border-bottom: 9px solid rgba(255, 0, 0, .3); */


.line {
  width: 73px;
  height: 72px;
  background:rgba(192, 7, 7, 0.7);
  height:9px;
  border-radius:3px;
  z-index: 1;
  -webkit-transform:
      translateY(20px)
      translateX(5px)
      rotate(-43.5deg);
  position: absolute;
  top: 4px;
  
  left: -12px;

}